<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    <style>
    table, th, td {
      border: 1px solid black;
    }

    .bg {
      background-image: url("https://images.pexels.com/photos/1705165/pexels-photo-1705165.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-attachment: fixed;
      /* background-repeat: repeat; */
      background-position: top center;
      background-size: cover;
    }
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 40px 600px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
    }


    .button5 {
      border-radius: 10px;
      background-color: white;
      color: black;
      border: 2px solid #555555;
    }

    .button5:hover {
      background-color: #555555;
      color: white;
    }

    </style>
  </head>

<body class="bg">

<h1>All Teams</h1>

<div id="mainblock">
<ol>
  <% @teams.each do |team|%>
  <li>
    <%=link_to team.name, team_path(team)%>
    <%= button_to "Delete Team", team, method: :delete %>
  </li>
  <%end%>
</ol>

</div>

<%= button_to "New Team", new_team_path,:class => "button button5", :method => :get %>

</body>
