<h1>All Teams</h1>

<div id="mainblock">
<ol>
  <% @teams.each do |team|%>
  <li>
    <%=link_to team.name, team_path(team)%>
    <%= button_to "Delete Team", team, method: :delete %>
  </li>
  <%end%>
</ol>

</div>

<%= link_to "New Team", new_team_path%>
