<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    <style>
    table, th, td {
      border: 1px solid black;
    }

    .bg {
      background: #d9fafc;
      background-image: url("https://images.pexels.com/photos/305243/pexels-photo-305243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      /* background-size: 3000px 1000px; */
      background-size: cover;
    }
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 40px 600px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
    }

    .button5 {
      border-radius: 10px;
      background-color: white;
      color: black;
      border: 2px solid #555555;
    }

    .button5:hover {
      background-color: #555555;
      color: white;
    }



    </style>
  </head>

  <body class="bg">
<h1>All Games by Location and Date:</h1>
<div id="teamlistblock">
<ol>
<% @games.each do |game|%>
<li> <%= link_to "#{game.location} - #{game.date}", game_path(game)%> </li>
<%= button_to "Delete Game", game, method: :delete %>
<br>
<%end%>
</ol>

</div>
<br><br><br>
<%= button_to "Add Game", new_game_path,:class => "button button5", :method => :get %>
<p></p>

</body>
