<h1>All Games by Location and Date:</h1>
<ol>
<% @games.each do |game|%>
<li> <%= link_to "#{game.location} - #{game.date}", game_path(game)%> </li>
<%= button_to "Delete Game", game, method: :delete %>
<br>
<%end%>
</ol>

<br><br><br>
<%= link_to "Add Game", new_game_path%>
